<!-- This is Books Component view-->

<section class="container-fluid">

  <form class="form-inline" #myForm="ngForm" class="row">
    <div class="form-group  col-md-6">
      <input type="text" class="form-control btn-outline-danger" name="filterName" [(ngModel)]="filterName.name" placeholder="Search by Name" />
    </div>
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-block btn-outline-danger" (click)="changeOrder()"  name="button">
        Change Sort Order
      </button>
    </div>
  </form>


  <div class="row" *ngIf="allBooks.length > 0">
    <div class="col-md-4" *ngFor="let singleBook of allBooks | orderBy: sortOrder| filterBy: filterName">
      <div class="card">
        <fa class="card-img-top" name="book" size="5x"></fa>
        <div class="card-body">
          <h5 class="card-title">{{singleBook.name || defaultValue}}</h5>
          <a routerLink="/book/{{singleBook.url.split('/').pop()}}" class="btn btn-danger">See Details</a>
        </div>
      </div>
    </div>

  </div>
</section>