<!--Basic view of Game of thrones App -->
<section class="container" style="margin: 5%; padding: 5%; float: right ">


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/all"]'>
        <img src="assets/all.png" class="grow" />
        <h3>All</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/houses"]'>
        <img src="assets/houses.png" class="grow" />
        <h3>Houses</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/characters"]'>
        <img src="assets/people.png" class="grow" />
        <h3>Characters</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/books"]'>
        <img src="assets/books.png" class="grow" />
        <h3>Books</h3>
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 types">
      <h3>Important Houses Of Game of Thrones</h3>
      <br>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/378"]'>
        <img src="assets/targereyan.jpeg" class="grow img-size" />
        <h3>Targereyan</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/229"]'>
        <img src="assets/lannister.jpeg" class="grow img-size" />
        <h3>Lannister</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/362"]'>
        <img src="assets/stark.jpeg" class="grow img-size" />
        <h3>Stark</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/16"]'>
        <img src="assets/baratheon.png" class="grow img-size" />
        <h3>Baratheon</h3>
      </a>
      <br>
      <br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/398"]'>
        <img src="assets/tyrell.png" class="grow img-size" />
        <h3>Tyrell</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/169"]'>
        <img src="assets/greyjoy.jpeg" class="grow img-size" />
        <h3>GreyJoy</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/7"]'>
        <img src="assets/arryn.png" class="grow img-size" />
        <h3>Arryn</h3>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
      <a [routerLink]='["/house/11"]'>
        <img src="assets/baelish.jpeg" class="grow img-size" />
        <h3>Baelish</h3>
      </a>
    </div>

  </div>

</section>